<div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">{{ heading }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body mx-3">
    <form [formGroup]="formGroup">
        <div class="form-row">
            <div class="col md-form">
                <input type="text" class="form-control" mdbInput mdbValidate [formControl]="swatchName">
                <label>Name</label>
                <mdb-error *ngIf="swatchName.invalid && (swatchName.dirty || swatchName.touched)"> Input invalid
                </mdb-error>
                <mdb-success *ngIf="swatchName.valid && (swatchName.dirty || swatchName.touched)"> Input valid
                </mdb-success>
            </div>
            <div class="col md-form">
                <mdb-select [options]="swatchActiveOptions" [multiple]="false" [highlightFirst]="false"
                    formControlName="swatchActive" placeholder="Choose an option"></mdb-select>
                <label>Active</label>
                <mdb-error *ngIf="swatchActive.invalid && (swatchActive.dirty || swatchActive.touched)"> Input invalid
                </mdb-error>
                <mdb-success *ngIf="swatchActive.valid && (swatchActive.dirty || swatchActive.touched)"> Input valid
                </mdb-success>
            </div>
        </div>

        <div class="form-row">
            <div class="col md-form">
                <input type="text" class="form-control" mdbInput mdbValidate [formControl]="swatchPrice"
                    placeholder="$10">
                <label>Price</label>
                <mdb-error *ngIf="swatchPrice.invalid && (swatchPrice.dirty || swatchPrice.touched)"> Input invalid
                </mdb-error>
                <mdb-success *ngIf="swatchPrice.valid && (swatchPrice.dirty || swatchPrice.touched)"> Input valid
                </mdb-success>
            </div>
            <div class="col md-form">
                <input type="text" class="form-control" mdbInput mdbValidate [formControl]="swatchColor"
                    placeholder="#000000">
                <label>Color</label>
                <mdb-error *ngIf="swatchColor.invalid && (swatchColor.dirty || swatchColor.touched)"> Input invalid
                </mdb-error>
                <mdb-success *ngIf="swatchColor.valid && (swatchColor.dirty || swatchColor.touched)"> Input valid
                </mdb-success>
            </div>
        </div>

        <div *ngIf="!swatch" class="md-form mb-5">
            <mdb-select [options]="swatchImageOptions" [multiple]="true" [highlightFirst]="false"
                formControlName="swatchImages" placeholder="Choose an image"></mdb-select>
            <label>Images</label>
            <mdb-error *ngIf="swatchImages.invalid && (swatchImages.dirty || swatchImages.touched)"> Input invalid
            </mdb-error>
            <mdb-success *ngIf="swatchImages.valid && (swatchImages.dirty || swatchImages.touched)"> Input valid
            </mdb-success>
        </div>

        <div *ngIf="swatch" class="md-form mb-5">
            <span>Images:</span>
            <div>
                <img *ngFor="let image of swatch.images" [src]="getImagePath(image)" [alt]="image.name" width="350px"
                    class="img-thumbnail">
            </div>
        </div>

        <div *ngIf="swatch" class="md-form mb-5">
            <input disabled type="text" class="form-control" mdbInput mdbValidate
                value="{{ formGroup.controls.swatchDate.value | date:'medium' }}">
            <label>Date</label>
        </div>
    </form>
</div>
<div *ngIf="!swatch" class="modal-footer d-flex justify-content-center">
    <button mdbBtn color="info" class="waves-light" mdbWavesEffect (click)="onSave()">Save</button>
</div>