<div class="mx-auto" style="width: max-content;">
    <button mdbBtn color="primary" (click)="openModal()">Create new Swatch</button>
</div>
<br />
<div *ngIf="swatches$ | async">
    <ul class="list-group" *ngIf="swatches.length">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let swatch of swatches">
            <a href="#" (click)="openModal(swatch)">
                <h4>{{ swatch.name }}</h4>
            </a>
            <div>
                <a href="#" (click)="openModal(swatch)">
                    <img *ngFor="let image of swatch.images" [src]="getThumbnailPath(image)" [alt]="image.name"
                        class="img-thumbnail">
                </a>
                &nbsp;&nbsp;&nbsp;
                <a *ngIf="swatch.active" (click)="updateSwatch(swatch, false)" mdbBtn color="dark-green"
                    mdbWavesEffect>Active</a>
                <a *ngIf="!swatch.active" (click)="updateSwatch(swatch, true)" mdbBtn color="elegant"
                    mdbWavesEffect>Inactive</a>
                <a (click)="deleteSwatch(swatch)" mdbBtn color="danger" mdbWavesEffect>
                    <mdb-icon fas icon="trash"></mdb-icon>
                </a>
            </div>
        </li>
    </ul>
    <div *ngIf="!swatches.length" class="mx-auto" style="width: max-content;">
        <h4>No Swatches found.</h4>
    </div>
</div>